# ไม่ต้อง Copy node_modules จาก Host เพราะเราจะติดตั้งมันภายใน Container
# เพื่อให้ได้เวอร์ชันและสภาพแวดล้อมที่ถูกต้อง 100%
node_modules

# ไม่ต้อง Copy โฟลเดอร์ .next ซึ่งเป็นผลลัพธ์จากการ build
# เราจะสร้างมันขึ้นมาใหม่ทุกครั้งที่ build ภายใน Container
.next

# ไฟล์อื่นๆ ที่ไม่จำเป็น
.env
README.md
*.log